* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    height: 600px;
    text-align: right;
}

.header-info {
    position: relative;
    top: 100px;
    width: 500px;
    margin-left: 750PX;

}

.header-title {
    margin-bottom: 24px;
    font-weight: 400px;
    font-size: 55px;
    color: #ffffff;
}

.allah {
    color: #ff0404;
}

.header-description {
    margin-bottom: 32px;
    color: #e4e4e4;
}

.btn-primary {
    background-color: #ffffff;
    height: 50px;
    width: 150px;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}

.failures {
    display: flex;
    gap: 130px;
    margin: 10%;
    align-items: center;

}

.failures img {
    width: 500px;
}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

.failures-description {
    margin-top: 10px;
}

.failures-info p {
    padding-bottom: 20px;
    color: #424242;

}

.failures-info i {
    color: rgb(0, 201, 0);

}

/* plans section  */


.plans-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 70px;
}


.plans-category {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.plans-category h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
}

.plans-category p {
    font-size: 25px;
    margin-top: 16px;
    color: #747474;
}

/* programming section  */
.programming {
    display: flex;
    margin: 10%;
    justify-content: space-between;
    align-content: space-between;
}

.programming-category {
    width: 260px;

    background-color: whitesmoke;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -15px;
}

.programming-category h1 {
    margin-bottom: 20px;

}

.programming-category h3 {
    margin-bottom: 20px;
    color: #4d4d4d;
}

.programming-category p {
    margin-bottom: 20px;
    color: grey;
}

.ps {
    color: #0064d6;
    font-weight: 700;
    font-size: 30px;
}

.ai {
    color: #3d0000;
    font-weight: 700;
    font-size: 30px;
}

.pr {
    color: #0800a7;
    font-weight: 700;
    font-size: 30px;
}

.btn-p {
    width: 100px;
    height: 35px;
    background-color: #b6b6b6;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: whitesmoke;
}

.btn-p-h {
    background-color: #0077ff;
}

/* call now section  */
.call-now {
    background-image: url(../images/gradient1.png), url(https://www.komando.com/wp-content/uploads/2020/05/making-phone-call-through-computer.jpg);
    background-repeat: no-repeat;
    height: 300px;
    margin: 10%;
    border-radius: 10px;
    align-items: center;
    box-shadow: 10px 10px 12px -12px;
}

.call-info {
    position: relative;
    font-size: 25px;
    width: 450px;
    font-weight: 700px;
    top: 30%;
    margin-left: 50px;
    color: white;
}

.btn-call {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    color: #0077ff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

/* footer section  */
footer {
    background-color: #000000;
    padding: 5% 10%;
}

.footer-section {
    display: flex;
    gap: 330px;
    color: white;
    width: 900px;

}

.footer-info h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-info p {
    margin-bottom: 30px;
}

.social-icon {
    display: flex;
    gap: 15px;
}

.subscribe input {
    background-color: #000000;
    padding: 15px 10px;
    border: solid 1px #6b6b6b;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.btn-subscribe {
    width: 150px;
    height: 50px;
    background-color: #0077ff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: whitesmoke;
}